## What is SQL?

**SQL** stands for **Structured Query Language**. It's a standard language used for managing and manipulating relational databases. Essentially, it's the language you use to "talk" to a database.

### Why is SQL important?

*   **Data Retrieval:** Get specific information from a database.
*   **Data Manipulation:** Add, modify, or delete data within a database.
*   **Data Definition:** Create, modify, and delete database structures (like tables).
*   **Data Control:** Manage database access and permissions.

### Basic SQL Concepts:

1.  **Tables:** Data in a relational database is organized into tables, which are similar to spreadsheets. Each table has columns (representing attributes/fields) and rows (representing individual records).

2.  **Queries:** These are commands used to retrieve or manipulate data. You write queries to ask the database for specific information or to make changes.

### Fundamental SQL Commands (often called DML - Data Manipulation Language):

*   `SELECT`: Used to retrieve data from a database. This is probably the most frequently used SQL command.
    ```sql
    SELECT column1, column2 FROM TableName WHERE Condition;
    ```

*   `FROM`: Specifies which table(s) you are querying data from. It is always used with `SELECT`.
    ```sql
    SELECT column1 FROM TableName;
    ```

*   `WHERE`: Used to filter records and extract only those that fulfill a specified condition.
    ```sql
    SELECT * FROM Customers WHERE Country = 'Mexico';
    ```

*   `INSERT INTO`: Used to add new rows of data into a table.
    ```sql
    INSERT INTO Customers (CustomerName, City, Country)
    VALUES ('Cardinal', 'Stavanger', 'Norway');
    ```

*   `UPDATE`: Used to modify existing data in a table.
    ```sql
    UPDATE Customers
    SET ContactName = 'Alfred Schmidt', City = 'Frankfurt'
    WHERE CustomerID = 1;
    ```

*   `DELETE FROM`: Used to delete existing records from a table.
    ```sql
    DELETE FROM Customers WHERE CustomerName = 'Alfreds Futterkiste';
    ```

This is just a very basic overview, but it covers the core ideas of what SQL is and how it's used to interact with databases!

### Common SQL Datatypes

SQL datatypes are used to define the type of data a column can hold. This ensures data integrity and helps optimize database performance. Here are some of the most common datatypes:

#### Numeric Types:

*   **`INT`** (Integer): Stores whole numbers (positive and negative). The size typically varies by database system, but it's generally a 4-byte integer.
    *   Example: `age INT`
*   **`SMALLINT`**: Stores smaller whole numbers. Typically 2-byte.
*   **`BIGINT`**: Stores larger whole numbers. Typically 8-byte.
*   **`DECIMAL(p, s)`** or **`NUMERIC(p, s)`**: Stores exact decimal numbers. `p` is the total number of digits (precision), and `s` is the number of digits after the decimal point (scale).
    *   Example: `price DECIMAL(10, 2)` (can store numbers like 12345678.99)
*   **`FLOAT`** or **`REAL`**: Stores approximate floating-point numbers with single precision.
*   **`DOUBLE PRECISION`**: Stores approximate floating-point numbers with double precision.

#### String (Character) Types:

*   **`VARCHAR(n)`** (Variable Character): Stores variable-length strings of text, up to a maximum length `n`. It's efficient as it only uses space for the actual string plus a small overhead.
    *   Example: `customer_name VARCHAR(255)`
*   **`CHAR(n)`** (Fixed Character): Stores fixed-length strings of text. If the string is shorter than `n`, it's padded with spaces. Less common than `VARCHAR` for general use.
    *   Example: `state_code CHAR(2)`
*   **`TEXT`** (or `LONGTEXT`, `MEDIUMTEXT` depending on database): Stores very long strings of text. The maximum length can be very large.

#### Date and Time Types:

*   **`DATE`**: Stores a date (year, month, day).
    *   Example: `birth_date DATE`
*   **`TIME`**: Stores a time (hour, minute, second).
    *   Example: `start_time TIME`
*   **`DATETIME`** or **`TIMESTAMP`**: Stores both date and time. `TIMESTAMP` often includes timezone information and may update automatically.
    *   Example: `order_timestamp DATETIME`

#### Boolean Type:

*   **`BOOLEAN`** (or sometimes `TINYINT(1)` or `BIT` depending on database): Stores true/false values. Represented as `TRUE`/`FALSE`, `1`/`0`, or `t`/`f`.
    *   Example: `is_active BOOLEAN`

#### Other Common Types:

*   **`BLOB`** (Binary Large Object): Stores binary data, such as images, audio files, or other binary files.
*   **`UUID`** (Universally Unique Identifier): Stores a 128-bit number used to uniquely identify information in computer systems.

The specific names and exact behaviors of these datatypes can vary slightly between different SQL database systems (e.g., MySQL, PostgreSQL, SQL Server, Oracle).

### Data Definition Language (DDL)

**DDL** stands for **Data Definition Language**. These SQL commands are used to define, modify, and delete database structures or schemas. They deal with the database objects themselves, rather than the data within them.

#### Key DDL Commands:

1.  **`CREATE`**: Used to create new database objects like databases, tables, indexes, views, etc.
    *   **Creating a Database:**
        ```sql
        CREATE DATABASE database_name;
        ```
    *   **Creating a Table:**
        ```sql
        CREATE TABLE Persons (
            PersonID INT PRIMARY KEY,
            LastName VARCHAR(255) NOT NULL,
            FirstName VARCHAR(255),
            Age INT
        );
        ```

2.  **`ALTER`**: Used to modify the structure of an existing database object. You can add, delete, or modify columns in a table, or add/drop constraints.
    *   **Adding a Column:**
        ```sql
        ALTER TABLE Persons
        ADD Email VARCHAR(255);
        ```
    *   **Modifying a Column's Datatype:**
        ```sql
        ALTER TABLE Persons
        MODIFY COLUMN Age DATE;
        ```
    *   **Dropping a Column:**
        ```sql
        ALTER TABLE Persons
        DROP COLUMN Email;
        ```

3.  **`DROP`**: Used to delete entire database objects (tables, databases, indexes, views, etc.) from the database. This command permanently removes the object and all its contained data.
    *   **Dropping a Table:**
        ```sql
        DROP TABLE Persons;
        ```
    *   **Dropping a Database:**
        ```sql
        DROP DATABASE database_name;
        ```

4.  **`TRUNCATE`**: Used to delete all records from a table, but keeps the table structure (schema, columns, indexes, constraints) intact. It's often faster than `DELETE` for removing all rows because it deallocates the data pages used by the table with minimal logging.
    *   ```sql
        TRUNCATE TABLE Persons;
        ```

5.  **`RENAME`** (or `ALTER TABLE ... RENAME TO`): Used to rename an existing database object.
    *   **Renaming a Table:**
        ```sql
        ALTER TABLE Persons
        RENAME TO Customers;
        ```

DDL commands are crucial for setting up and maintaining the foundational structure of any relational database.

### Transaction Control Language (TCL)

**TCL** stands for **Transaction Control Language**. These SQL commands are used to manage transactions in the database. Transactions are a sequence of operations performed as a single logical unit of work. TCL commands ensure data integrity by allowing you to manage changes made by DML commands.

#### Key TCL Commands:

1.  **`COMMIT`**: Used to save all changes made by a transaction to the database permanently. Once committed, the changes cannot be undone.
    ```sql
    COMMIT;
    ```

2.  **`ROLLBACK`**: Used to undo changes made by a transaction that are not yet committed. This restores the database to its state before the transaction began.
    ```sql
    ROLLBACK;
    ```

3.  **`SAVEPOINT`**: Used to set a point within a transaction to which you can later roll back. This allows for partial rollbacks within a larger transaction.
    ```sql
    SAVEPOINT savepoint_name;
    ```

    *To rollback to a savepoint:*
    ```sql
    ROLLBACK TO savepoint_name;
    ```

#### Properties of a Transaction (ACID Properties):

TCL commands are crucial for maintaining the ACID properties of a database transaction:

*   **Atomicity**: Ensures that all operations within a transaction are completed successfully, or none are. It's an "all or nothing" proposition.
*   **Consistency**: Guarantees that a transaction takes the database from one valid state to another, maintaining all defined rules, constraints, and relationships.
*   **Isolation**: Ensures that concurrent transactions do not interfere with each other. Each transaction appears to execute in isolation.
*   **Durability**: Guarantees that once a transaction is committed, its changes are permanent and survive system failures (e.g., power outages, crashes).

### Data Manipulation Language (DML)

**DML** stands for **Data Manipulation Language**. These SQL commands are used for managing and manipulating data within database objects (like tables). Unlike DDL, which deals with the structure, DML focuses on the data itself.

#### Key DML Commands:

1.  **`SELECT`**: Used to retrieve data from one or more tables in a database. It's the most common DML command.
    ```sql
    SELECT column1, column2
    FROM TableName
    WHERE Condition;
    ```

2.  **`INSERT INTO`**: Used to add new rows of data into a table.
    ```sql
    INSERT INTO TableName (column1, column2, column3)
    VALUES (value1, value2, value3);
    ```
    Or, to insert all columns:
    ```sql
    INSERT INTO TableName
    VALUES (value1, value2, value3, ...);
    ```

3.  **`UPDATE`**: Used to modify existing data in one or more rows of a table.
    ```sql
    UPDATE TableName
    SET column1 = new_value1, column2 = new_value2
    WHERE Condition;
    ```

4.  **`DELETE FROM`**: Used to delete existing records (rows) from a table.
    ```sql
    DELETE FROM TableName
    WHERE Condition;
    ```
    *Caution: If you omit the `WHERE` clause, all records in the table will be deleted!*

DML commands are fundamental for any interaction where you need to read, add, change, or remove data in your database.

### Data Control Language (DCL)

**DCL** stands for **Data Control Language**. These SQL commands are used to manage permissions and control access to the database. They deal with security and user rights.

#### Key DCL Commands:

1.  **`GRANT`**: Used to give users specific privileges (permissions) on database objects. For example, you can grant a user the ability to `SELECT`, `INSERT`, `UPDATE`, or `DELETE` data from a specific table.
    ```sql
    GRANT SELECT, INSERT ON Customers TO user_name;
    ```
    *To grant all privileges on a table:*
    ```sql
    GRANT ALL PRIVILEGES ON Customers TO user_name;
    ```

2.  **`REVOKE`**: Used to remove or take back privileges that were previously granted to a user on database objects.
    ```sql
    REVOKE INSERT, DELETE ON Customers FROM user_name;
    ```
    *To revoke all privileges:*
    ```sql
    REVOKE ALL PRIVILEGES ON Customers FROM user_name;
    ```

DCL commands are crucial for maintaining the security and integrity of a database by controlling who can perform what actions on which data.

### SQL Aggregate Functions

**Aggregate functions** perform a calculation on a set of rows and return a single summary value. They are often used with the `GROUP BY` clause to perform calculations on groups of rows, or on the entire table if `GROUP BY` is omitted.

#### Common Aggregate Functions:

*   **`COUNT()`**: Returns the number of rows that match a specified criterion.
    *   `COUNT(*)`: Counts all rows.
    *   `COUNT(column_name)`: Counts non-NULL values in a specified column.
    *   `COUNT(DISTINCT column_name)`: Counts unique non-NULL values in a specified column.

*   **`SUM(column_name)`**: Calculates the sum of a set of numerical values in a column.

*   **`AVG(column_name)`**: Calculates the average of a set of numerical values in a column.

*   **`MIN(column_name)`**: Returns the smallest value in a specified column.

*   **`MAX(column_name)`**: Returns the largest value in a specified column.

#### Examples:

Let's assume we have a `Products` table with `Category`, `Price`, and `Quantity` columns.

*   **Counting all products:**
    ```sql
    SELECT COUNT(*) AS TotalProducts FROM Products;
    ```

*   **Calculating the total price of all products:**
    ```sql
    SELECT SUM(Price) AS TotalValue FROM Products;
    ```

*   **Finding the average price of products in each category:**
    ```sql
    SELECT Category, AVG(Price) AS AveragePrice
    FROM Products
    GROUP BY Category;
    ```

*   **Finding the highest and lowest quantity for each category:**
    ```sql
    SELECT Category, MAX(Quantity) AS MaxQuantity, MIN(Quantity) AS MinQuantity
    FROM Products
    GROUP BY Category;
    ```

*   **Counting the number of distinct categories:**
    ```sql
    SELECT COUNT(DISTINCT Category) AS NumberOfCategories FROM Products;
    ```

Aggregate functions are fundamental for reporting, analytics, and gaining insights from your database data.

### SQL Joins

**SQL Joins** are used to combine rows from two or more tables based on a related column between them. This is how you retrieve related data that is spread across different tables in a relational database.

#### Types of SQL Joins:

1.  **`INNER JOIN`** (or simply `JOIN`):
    *   Returns records that have matching values in both tables.
    *   It's the most common type of join and the default if you just use `JOIN`.
    ```sql
    SELECT column_name(s)
    FROM TableA
    INNER JOIN TableB
    ON TableA.common_column = TableB.common_column;
    ```
    *   **Example:** Get orders with customer names.
        ```sql
        SELECT Orders.OrderID, Customers.CustomerName
        FROM Orders
        INNER JOIN Customers
        ON Orders.CustomerID = Customers.CustomerID;
        ```

2.  **`LEFT JOIN`** (or `LEFT OUTER JOIN`):
    *   Returns all records from the left table, and the matching records from the right table. If there is no match, the result from the right side is `NULL`.
    ```sql
    SELECT column_name(s)
    FROM TableA
    LEFT JOIN TableB
    ON TableA.common_column = TableB.common_column;
    ```
    *   **Example:** Get all customers and their orders, even if they haven't placed any orders.
        ```sql
        SELECT Customers.CustomerName, Orders.OrderID
        FROM Customers
        LEFT JOIN Orders
        ON Customers.CustomerID = Orders.CustomerID;
        ```

3.  **`RIGHT JOIN`** (or `RIGHT OUTER JOIN`):
    *   Returns all records from the right table, and the matching records from the left table. If there is no match, the result from the left side is `NULL`.
    ```sql
    SELECT column_name(s)
    FROM TableA
    RIGHT JOIN TableB
    ON TableA.common_column = TableB.common_column;
    ```
    *   **Example:** Get all orders and the customer names, even if an order has no matching customer (unlikely in a well-designed DB, but for illustration).
        ```sql
        SELECT Customers.CustomerName, Orders.OrderID
        FROM Customers
        RIGHT JOIN Orders
        ON Customers.CustomerID = Orders.CustomerID;
        ```

4.  **`FULL JOIN`** (or `FULL OUTER JOIN`):
    *   Returns all records when there is a match in either left or right table. Returns rows from both tables even if there are no matches. If there is no match, the result is `NULL` on the side that has no match.
    ```sql
    SELECT column_name(s)
    FROM TableA
    FULL OUTER JOIN TableB
    ON TableA.common_column = TableB.common_column
    WHERE Condition;
    ```
    *   **Example:** Get all customers and all orders, showing where they match and where they don't.
        ```sql
        SELECT Customers.CustomerName, Orders.OrderID
        FROM Customers
        FULL OUTER JOIN Orders
        ON Customers.CustomerID = Orders.CustomerID;
        ```

Joins are fundamental for relational database querying, allowing you to bring together related pieces of information into a single result set.

# Task
Provide practical SQL examples to demonstrate how to create tables (`Customers`, `Orders`), insert sample data, perform basic DML queries (`SELECT`, `UPDATE`, `DELETE`), use aggregate functions (`COUNT()`, `SUM()`, `AVG()`, `MIN()`, `MAX()`), and perform SQL joins (`INNER JOIN`, `LEFT JOIN`) based on the previously explained SQL concepts.

## Introduction to Practical SQL

### Subtask:
Introduce the upcoming SQL demonstration, explaining that it will cover practical examples of creating tables, inserting data, and performing various queries based on the previously explained SQL concepts.

## Introduction to Practical SQL

Now that we've covered the theoretical aspects of SQL, including its importance, basic concepts, common datatypes, and different command categories (DDL, DML, TCL, DCL), it's time to put that knowledge into practice.

In the following sections, we will walk through a practical SQL demonstration. This demonstration will cover:

*   **Creating tables** using DDL commands, defining their structure and column datatypes.
*   **Inserting sample data** into these tables using DML commands.
*   Performing **basic DML queries** such as `SELECT` to retrieve data, `UPDATE` to modify existing records, and `DELETE` to remove records.
*   Utilizing **aggregate functions** like `COUNT`, `SUM`, `AVG`, `MIN`, and `MAX` to summarize data.
*   Executing **SQL joins** (specifically `INNER JOIN` and `LEFT JOIN`) to combine data from multiple related tables.

These hands-on examples will solidify your understanding of how to interact with a relational database using SQL, building directly upon the concepts and commands we've just discussed.

## Introduction to Practical SQL

Now that we've covered the theoretical aspects of SQL, including its importance, basic concepts, common datatypes, and different command categories (DDL, DML, TCL, DCL), it's time to put that knowledge into practice.

In the following sections, we will walk through a practical SQL demonstration. This demonstration will cover:

*   **Creating tables** using DDL commands, defining their structure and column datatypes.
*   **Inserting sample data** into these tables using DML commands.
*   Performing **basic DML queries** such as `SELECT` to retrieve data, `UPDATE` to modify existing records, and `DELETE` to remove records.
*   Utilizing **aggregate functions** like `COUNT`, `SUM`, `AVG`, `MIN`, and `MAX` to summarize data.
*   Executing **SQL joins** (specifically `INNER JOIN` and `LEFT JOIN`) to combine data from multiple related tables.

These hands-on examples will solidify your understanding of how to interact with a relational database using SQL, building directly upon the concepts and commands we've just discussed.

## Create Tables

### Subtask:
Provide SQL commands to create two sample tables: `Customers` and `Orders`. The `Customers` table will store customer information, and the `Orders` table will store order details, including a foreign key reference to the `Customers` table. This demonstrates `CREATE TABLE` from DDL.

### Creating Tables

Here are the SQL `CREATE TABLE` statements for the `Customers` and `Orders` tables, demonstrating the use of primary and foreign keys.

```sql
CREATE TABLE Customers (
    CustomerID INT PRIMARY KEY,
    CustomerName VARCHAR(255) NOT NULL,
    ContactName VARCHAR(255),
    City VARCHAR(255)
);

CREATE TABLE Orders (
    OrderID INT PRIMARY KEY,
    CustomerID INT,
    OrderDate DATE,
    Amount DECIMAL(10, 2),
    FOREIGN KEY (CustomerID) REFERENCES Customers(CustomerID)
);
```

### Creating Tables

Here are the SQL `CREATE TABLE` statements for the `Customers` and `Orders` tables, demonstrating the use of primary and foreign keys.

```sql
CREATE TABLE Customers (
    CustomerID INT PRIMARY KEY,
    CustomerName VARCHAR(255) NOT NULL,
    ContactName VARCHAR(255),
    City VARCHAR(255)
);

CREATE TABLE Orders (
    OrderID INT PRIMARY KEY,
    CustomerID INT,
    OrderDate DATE,
    Amount DECIMAL(10, 2),
    FOREIGN KEY (CustomerID) REFERENCES Customers(CustomerID)
);
```

## Insert Sample Data

### Subtask:
Provide SQL `INSERT INTO` commands to populate the `Customers` and `Orders` tables with sample data. This demonstrates `INSERT INTO` from DML.

### Inserting Sample Data

To populate the `Customers` and `Orders` tables with sample data, we will use the `INSERT INTO` command. This demonstrates a core function of Data Manipulation Language (DML).

#### Inserting into `Customers` Table:
```sql
INSERT INTO Customers (CustomerID, CustomerName, ContactName, City)
VALUES (1, 'Alfreds Futterkiste', 'Maria Anders', 'Berlin');

INSERT INTO Customers (CustomerID, CustomerName, ContactName, City)
VALUES (2, 'SuperMart', 'John Doe', 'New York');

INSERT INTO Customers (CustomerID, CustomerName, ContactName, City)
VALUES (3, 'Global Traders', 'Jane Smith', 'London');
```

#### Inserting into `Orders` Table:
```sql
INSERT INTO Orders (OrderID, CustomerID, OrderDate, Amount)
VALUES (101, 1, '2023-01-15', 250.00);

INSERT INTO Orders (OrderID, CustomerID, OrderDate, Amount)
VALUES (102, 1, '2023-01-20', 120.50);

INSERT INTO Orders (OrderID, CustomerID, OrderDate, Amount)
VALUES (103, 2, '2023-02-01', 500.75);

INSERT INTO Orders (OrderID, CustomerID, OrderDate, Amount)
VALUES (104, 3, '2023-02-10', 80.20);

INSERT INTO Orders (OrderID, CustomerID, OrderDate, Amount)
VALUES (105, 2, '2023-02-15', 300.00);
```

## Demonstrate Basic DML Queries

### Subtask:
Show practical examples of basic Data Manipulation Language (DML) commands: SELECT to retrieve data, UPDATE to modify data, and DELETE to remove data from the sample tables.

## Demonstrating Basic DML Queries

Here are practical examples of basic Data Manipulation Language (DML) commands: `SELECT` to retrieve data, `UPDATE` to modify data, and `DELETE` to remove data from sample tables.

### 1. `SELECT` to retrieve all data from a table:
```sql
SELECT *
FROM Customers;
```

### 2. `SELECT` with specific columns and a `WHERE` clause:
```sql
SELECT CustomerName, City
FROM Customers
WHERE City = 'London';
```

### 3. `UPDATE` to modify an existing record:
```sql
UPDATE Customers
SET ContactName = 'Alfred Schmidt', City = 'Berlin'
WHERE CustomerID = 1;
```

### 4. `DELETE` to remove a record:
```sql
DELETE FROM Orders
WHERE OrderID = 104;
```

## Demonstrate Aggregate Functions

### Subtask:
Provide SQL queries that use aggregate functions such as `COUNT()`, `SUM()`, `AVG()`, `MIN()`, and `MAX()` on the sample data. Include examples with and without the `GROUP BY` clause to illustrate their usage for summarization.

## Demonstrating Aggregate Functions

Aggregate functions in SQL allow you to perform calculations on a set of rows and return a single summary value. This is incredibly useful for reporting and data analysis.

Let's assume we have two tables, `Customers` (with `CustomerID` and `CustomerName`) and `Orders` (with `OrderID`, `CustomerID`, and `Amount`).

### Examples without `GROUP BY` (Summarizing the entire table):

1.  **Count all customers in the `Customers` table:**
    This query uses `COUNT(*)` to return the total number of rows (customers) in the `Customers` table.
    ```sql
    SELECT COUNT(*) AS TotalCustomers FROM Customers;
    ```

2.  **Count the total number of orders in the `Orders` table:**
    Here, `COUNT(CustomerID)` counts the non-NULL values in the `CustomerID` column of the `Orders` table, effectively counting all orders.
    ```sql
    SELECT COUNT(CustomerID) AS TotalOrders FROM Orders;
    ```

3.  **Calculate the total amount of all orders:**
    The `SUM(Amount)` function calculates the sum of all values in the `Amount` column from the `Orders` table, giving us the total revenue from all orders.
    ```sql
    SELECT SUM(Amount) AS TotalOrderAmount FROM Orders;
    ```

4.  **Calculate the average order amount:**
    `AVG(Amount)` computes the average of the `Amount` column across all orders.
    ```sql
    SELECT AVG(Amount) AS AverageOrderAmount FROM Orders;
    ```

5.  **Find the smallest and largest order amounts:**
    `MIN(Amount)` returns the lowest value, and `MAX(Amount)` returns the highest value from the `Amount` column across all orders.
    ```sql
    SELECT MIN(Amount) AS MinOrderAmount, MAX(Amount) AS MaxOrderAmount FROM Orders;
    ```

### Examples with `GROUP BY` (Summarizing data by groups):

When you use `GROUP BY`, the aggregate functions operate on each distinct group of rows created by the `GROUP BY` clause. This allows for more granular analysis.

1.  **Count orders, total amount, and average amount per customer:**
    This query groups the `Orders` table by `CustomerID`, and then for each customer, it calculates the number of orders (`COUNT(OrderID)`), the sum of their order amounts (`SUM(Amount)`), and their average order amount (`AVG(Amount)`).
    ```sql
    SELECT
        CustomerID,
        COUNT(OrderID) AS NumberOfOrders,
        SUM(Amount) AS TotalAmountSpent,
        AVG(Amount) AS AverageOrderAmount
    FROM
        Orders
    GROUP BY
        CustomerID;
    ```

## Demonstrate SQL Joins

### Subtask:
Illustrate how to combine data from the `Customers` and `Orders` tables using `INNER JOIN` and `LEFT JOIN`. This will show how related data spread across multiple tables can be retrieved efficiently.

## Demonstrating SQL Joins

SQL Joins are fundamental for combining data from two or more tables in a relational database. They allow you to retrieve related information that is stored across different tables by linking them based on common columns.

### Hypothetical Table Structure:
Let's assume we have two tables:

**Customers Table:**
| CustomerID | CustomerName | Country |
|------------|--------------|---------|
| 1          | Alice        | USA     |
| 2          | Bob          | Canada  |
| 3          | Charlie      | UK      |
| 4          | David        | USA     |

**Orders Table:**
| OrderID | CustomerID | OrderDate  | OrderAmount |
|---------|------------|------------|-------------|
| 101     | 1          | 2023-01-15 | 150.00      |
| 102     | 2          | 2023-01-16 | 200.50      |
| 103     | 1          | 2023-01-17 | 75.20       |
| 104     | 5          | 2023-01-18 | 300.00      |

### INNER JOIN
An `INNER JOIN` returns only the rows that have matching values in both tables. Records that do not have a match in both tables are excluded.

```sql
SELECT
    C.CustomerName,
    O.OrderID,
    O.OrderDate,
    O.OrderAmount
FROM
    Customers AS C
INNER JOIN
    Orders AS O
ON
    C.CustomerID = O.CustomerID;
```

**Expected Result (INNER JOIN):**
| CustomerName | OrderID | OrderDate  | OrderAmount |
|--------------|---------|------------|-------------|
| Alice        | 101     | 2023-01-15 | 150.00      |
| Bob          | 102     | 2023-01-16 | 200.50      |
| Alice        | 103     | 2023-01-17 | 75.20       |

### LEFT JOIN
A `LEFT JOIN` (or `LEFT OUTER JOIN`) returns all records from the left table, and the matching records from the right table. If there is no match for the left table's record in the right table, `NULL` values are returned for the columns from the right table.

```sql
SELECT
    C.CustomerName,
    O.OrderID,
    O.OrderDate,
    O.OrderAmount
FROM
    Customers AS C
LEFT JOIN
    Orders AS O
ON
    C.CustomerID = O.CustomerID;
```

**Expected Result (LEFT JOIN):**
| CustomerName | OrderID | OrderDate  | OrderAmount |
|--------------|---------|------------|-------------|
| Alice        | 101     | 2023-01-15 | 150.00      |
| Bob          | 102     | 2023-01-16 | 200.50      |
| Charlie      | NULL    | NULL       | NULL        |
| David        | NULL    | NULL       | NULL        |
| Alice        | 103     | 2023-01-17 | 75.20       |

## Final Task

### Subtask:
Summarize the comprehensive SQL examples provided, explaining how they apply the various SQL concepts previously covered (DDL, DML, Aggregate Functions, Joins) in a practical scenario.

## Summary:

### Data Analysis Key Findings
*   The process successfully demonstrated practical application of various SQL concepts:
    *   **DDL (Data Definition Language):** `CREATE TABLE` statements were provided to define `Customers` and `Orders` tables, including `PRIMARY KEY` and `FOREIGN KEY` constraints, showcasing table structure definition.
    *   **DML (Data Manipulation Language):**
        *   `INSERT INTO` commands were used to populate both `Customers` (3 records) and `Orders` (5 records) tables with sample data.
        *   `SELECT` queries illustrated retrieving all data (`SELECT *`) and specific columns with filtering (`WHERE City = 'London'`).
        *   An `UPDATE` statement demonstrated modifying `ContactName` and `City` for a specific customer (`CustomerID = 1`).
        *   A `DELETE` statement showed how to remove a record from the `Orders` table (`OrderID = 104`).
    *   **Aggregate Functions:** Examples covered `COUNT()`, `SUM()`, `AVG()`, `MIN()`, and `MAX()` to summarize data from the `Orders` table.
        *   These functions were demonstrated both without a `GROUP BY` clause (e.g., `SUM(Amount)` for total order amount, `AVG(Amount)` for average order amount) and with a `GROUP BY CustomerID` clause to show aggregations per customer (e.g., counting orders, summing amounts, and averaging amounts per customer).
    *   **SQL Joins:** `INNER JOIN` and `LEFT JOIN` were illustrated to combine data from the `Customers` and `Orders` tables based on `CustomerID`.
        *   `INNER JOIN` examples showed retrieving matching records from both tables.
        *   `LEFT JOIN` examples demonstrated retrieving all records from the left table (`Customers`) and matching records from the right table (`Orders`), including `NULL` values where no match exists.
*   Each SQL example was accompanied by clear explanations and presented within markdown code blocks, enhancing readability and comprehension.

### Insights or Next Steps
*   The comprehensive examples effectively bridge the gap between theoretical SQL concepts and their practical implementation, providing a solid foundation for database interaction.
*   The next step could involve executing these SQL commands in an actual database environment (e.g., SQLite, PostgreSQL, MySQL) to reinforce understanding and observe the results firsthand.